@import 'tailwindcss';

@keyframes showModal {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-showModal {
  animation: showModal 0.3s ease-out forwards;
}

@media (max-width: 639px) {
  html {
    font-size: 4.267vw;
  }
}
